[user]
	email = 23336472+TruLov@users.noreply.github.com
	name = Ruloff Tom
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[http]
	cookiefile = $HOME/.gitcookies
[core]
	excludesfile = $HOME/.config/git/.gitignore_global
[alias]
	unstage = reset HEAD --
	co = checkout
	b = branch
	c = commit
	st = status
